TELEGRAM_BOT_TOKEN=6484000395:AAHbVvVv5WcUZtFBxMlV2ThDI7PVnO2cxYI
ADMIN_CHAT_ID=123456789

REMOTE_BASE_PATH="https://mikailyan.github.io" # Without trailing slash
REMOTE_URI="" # Leave empty if your in the root of your domain (With trailing slash)

REMOTE_PATH="${REMOTE_BASE_PATH}${REMOTE_URI}" # DO NOT CHANGE THIS
RESOURCE_PATH="${REMOTE_PATH}/public/" # DO NOT CHANGE THIS
